{{- if .Values.web.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "k8s-role-graph.fullname" . }}
  labels:
    component.incloud.io/name: web
    {{- include "k8s-role-graph.labels" . | nindent 4 }}
spec:
  type: {{ .Values.web.service.type }}
  ports:
    - port: {{ .Values.web.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    component.incloud.io/name: web
    {{- include "k8s-role-graph.selectorLabels" . | nindent 4 }}
{{- end }}
