{{- if and .Values.server.enabled (eq .Values.internalTLS.certSource "certmanager") }}

{{- $certmanager  := .Values.internalTLS.certmanager -}}
{{- $extIssuer    := $certmanager.existingIssuer -}}
{{- $issuerKind   := "Issuer" -}}
{{- $issuerName   := (include "k8s-role-graph.fullname" .) -}}

{{- if and $extIssuer.kind $extIssuer.name }}
  {{- $issuerKind   = $extIssuer.kind -}}
  {{- $issuerName   = $extIssuer.name -}}
{{- end }}

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "k8s-role-graph.fullname" . }}-server
  namespace: {{ .Release.Namespace }}
  labels:
    component.incloud.io/name: server
    {{- include "k8s-role-graph.labels" . | nindent 4 }}
spec:
  issuerRef:
    group: cert-manager.io
    kind: {{ $issuerKind }}
    name: {{ $issuerName }}
  dnsNames:
    - "{{ include "k8s-role-graph.fullname" . }}-server"
    - "{{ include "k8s-role-graph.fullname" . }}-server.{{ .Release.Namespace }}"
    - "{{ include "k8s-role-graph.fullname" . }}-server.{{ .Release.Namespace }}.svc"
    {{ if $certmanager.extraDnsNames }}
    {{ range $certmanager.extraDnsNames }}
    - {{ . }}
    {{ end }}
    {{ end }}
  {{ with $certmanager.extraIPAddresses }}
  ipAddresses:
    {{ . | toYaml | nindent 4 }}
  {{ end }}
  commonName: "{{ .Release.Namespace }}-server"
  secretName: {{ include "k8s-role-graph.fullname" . }}-server
{{- end }}
