apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: rbacgraph-web-query
rules:
  - apiGroups: ["rbacgraph.incloud.io"]
    resources: ["rolegraphreviews"]
    verbs: ["create"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: rbacgraph-web-query
subjects:
  - kind: ServiceAccount
    name: rbacgraph-web
    namespace: rbac-graph-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: rbacgraph-web-query
